html,body{
    height:100%;
  }
  
  body{
    /* Add a background image */
    background-size: 100%;
    text-align: center;
  
  }
  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    background:transparent;
    font-size: 42px;;
  }
  
  h1{
    font-family: 'Aclonica', sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    color:blue;
    padding-top: 2.5%;
  }

  button:hover {
    border:2px solid blue;
    background: red;
  }